.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
