<footer>
  <section class="footer-container">
    <div class="footer-container__row mat-caption flex-between">
      <div class="footer-column flex-column-between">
        <p>
          Initiated and fully funded by Carebox. © 2023 Carebox. All Rights
          Reserved. This information is intended for healthcare professionals
          only.
        </p>
        <img
          src="../../../../assets/logo-bottom.svg"
          alt="Carebox"
          width="148"
        />
      </div>
      <div class="footer-column">
        <p>VPM ID: xxx | Date of preparation: xxx | Prohibited for
        distribution/display to the public.</p>
        <p>PIA-10403</p>
      </div>
      <div class="footer-column">
        <ul>
          <li><a [routerLink]="['/']">Cookie Settings</a></li>
          <li><a [routerLink]="['/']">Legal Notice</a></li>
          <li><a [routerLink]="['/']">Privacy Notice</a></li>
          <li><a [routerLink]="['/']">Contact Us</a></li>
          <li><a [routerLink]="['/']">Your Privacy Choices</a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
